<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blep</title>
</head>
<body>
    <div class = "fixed-top">
        <div class = "shadow-lg p-3 row bg-white" style = "height: 10%;">
            <div class = 'col-sm-2'>
                <a href = "/products" class = "btn btn-outline-dark">Home</a>
            </div>
            <div class = 'col-sm-8'>
            </div>
            <div class = 'col-sm-2'>
                <div class = "dropdown-toggle text-muted" data-toggle = "collapse" data-target="#navbar-cart" aria-expanded = "false" aria-controls="navbar-cart" style = "text-align:center;font-size:1.25em;">
                    Cart <span class = "badge badge-pill badge-dark"><% if(cart != undefined) { %>
                    <%= Object.keys(cart.items).length %> 
                    <%} else {%> 
                    <%=0%>
                    <%}%></span>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-2 col-xl-9">
            </div>
            <div class = "col-sm-8 col-xl-3 bg-white p-2 collapse" id = "navbar-cart" style="box-shadow: 0 2rem 3rem rgba(0,0,0,.175) !important;">
                <% if (cart != undefined) { 
                    Object.keys(cart.items).forEach(function(item){ %>
                    <div class = "row">
                        <div class = "col">
                            <img src = "/images/pigCOOL.png" alt = "...">
                        </div>
                        <div class = "col-6" style = "margin-left: 15px;">
                            <%= cart.items[item].product.name %> 
                        </div>
                        <div class = "col text-muted">
                            <%= cart.items[item].qty %>x
                        </div>
                        <div class = "col-3 text-muted">
                            <%= cart.items[item].product.price * cart.items[item].qty %> PLN
                        </div>
                    </div>
                   <% }); %>
                   <hr>
                   <div class = "text-muted">
                        Total: <%= cart.totalPrice %> PLN<a href = "/cart" class = "btn btn-success ml-3">View Cart</a>
                    </div>
               <% } %> 
            </div>
        </div>
    </div>
    <div class = 'mx-auto col-sm-10 col-xl-8'>
        <div class = "row" style = "margin-top:200px">
            <div class = "rounded col-sm-10 col-xl-5" style = "background-color: rgb(233, 233, 233); width:512px; height:512px;">
                <img class = "img-fluid" src = '/images/pigCOOL.png' alt = "..." style = "height: 100%;">
            </div>
            <div class = "col-sm-10 col-xl-5" style = "margin-left: 20px;">
                <h1><%=product.name%></h1>
                <div class = "text-muted" style = "margin-top: 50px; text-indent: 2em;">
                    <%=product.description%>    
                </div>
                <div class = "row" style = "align-items: center;">
                    <a class = "btn btn-success cpl" href = "/products/add-to-cart/<%=product.id%>" style = "margin-top: 10px; margin-left: 20px;">Add to Cart</a>
                    <div class = "col" style = "font-size: 1.25em; font-weight: bolder;"><%=product.price%> PLN</div>
                </div>
            </div>
        </a>
    </div>
</body>
</html>